
body {
  color: #000000;  /* 全体の文字色 */
  font-size: x-large; /* 全体のフォントのサイズ */
  background-image: url("background.jpg");
  background-position: center center;/* 画像を常に天地左右の中央に配置 */
  background-repeat: no-repeat;/* 画像をタイル状に繰り返し表示しない */
  background-attachment: fixed;/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-size: cover; /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-color: #464646;/* 背景画像が読み込まれる前に表示される背景のカラー */
}

h1 {
  color: #FFFFFF;
  border-style: dashed; /* 枠の種類 */
  border-color: #FFFFFF; /* 枠の色 */
  border-width: 5px 00px; /* 枠の幅 */
  line-height: 130%; /* 行の高さ */
  text-align: center; /* テキストの配置 */
}

textarea{
  height: 5rem;
  width: 40%;
}

h6{
  color: #FF0066;
  font-weight: bolder;
}